@import url("https://cdn.rawgit.com/mfd/09b70eb47474836f25a21660282ce0fd/raw/e06a670afcb2b861ed2ac4a1ef752d062ef6b46b/Gilroy.css");
@font-face {
    font-family: 'DIN Pro';
    src: local('DIN Pro Light'), local('DIN-Pro-Light'),
        url('fonts/DINPro-Light.woff2') format('woff2'),
        url('fonts/DINPro-Light.woff') format('woff'),
        url('fonts/DINPro-Light.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
}
@font-face {
font-family: 'DIN Pro Regular';
src: url('fonts/DINPro-Regular.eot');
src: url('fonts/DINPro-Regular.eot') format('embedded-opentype'),
url('fonts/DINPro-Regular.woff') format('woff'),
url('fonts/DINPro-Regular.ttf') format('truetype');
font-weight: 400;
font-style: normal;
}
@font-face {
    font-family: 'DIN Pro Bold';
    src: url('fonts/DINPro-Bold.eot');
    src: url('fonts/DINPro-Bold.eot?#iefix') format('embedded-opentype'),
    url('fonts/DINPro-Bold.woff') format('woff'),
    url('fonts/DINPro-Bold.ttf') format('truetype');
    font-weight: 700;
    font-style: normal;
}

* {
    margin: 0;
    padding: 0;
}

body {
    position: fixed;
    overflow: hidden;
    font-family: 'Gilroy';
}

.main {
    display: flex;
    flex-direction: row;
    width: 3072px;
    height: 768px;
    background-image: url(../img/background.png);
    background-size: cover;
}

.header {
    position: absolute;
    top: 3.5%;
    left: 2.5%;
    z-index: 1;
}

.header img {
    width: 160px;
    height: 26px;  
}

.footer {
    position: absolute;
    bottom: 2%;
    left: 2.5%;
    z-index: 3;
}

.footer img {
    width: 70px;
    height: 16px;
}