@import url("https://cdn.rawgit.com/mfd/09b70eb47474836f25a21660282ce0fd/raw/e06a670afcb2b861ed2ac4a1ef752d062ef6b46b/Gilroy.css");
@import 'main';
@import 'first-slide';
@import 'second-slide';
@import 'third-slide';
@import 'modal';
@font-face {
    font-family: 'DIN Pro';
    src: local('DIN Pro Light'), local('DIN-Pro-Light'),
        url('../styles/fonts/DINPro-Light.woff2') format('woff2'),
        url('../styles/fonts/DINPro-Light.woff') format('woff'),
        url('../styles/fonts/DINPro-Light.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
}
@font-face {
font-family: 'DIN Pro Regular';
src: url('../styles/fonts/DINPro-Regular.eot');
src: url('../styles/fonts/DINPro-Regular.eot') format('embedded-opentype'),
url('../styles/fonts/DINPro-Regular.woff') format('woff'),
url('../styles/fonts/DINPro-Regular.ttf') format('truetype');
font-weight: 400;
font-style: normal;
}
@font-face {
    font-family: 'DIN Pro Bold';
    src: url('../styles/fonts/DINPro-Bold.eot');
    src: url('../styles/fonts/DINPro-Bold.eot?#iefix') format('embedded-opentype'),
    url('../styles/fonts/DINPro-Bold.woff') format('woff'),
    url('../styles/fonts/DINPro-Bold.ttf') format('truetype');
    font-weight: 700;
    font-style: normal;
}

* {
    margin: 0;
    padding: 0;
}

body {
    position: fixed;
    overflow: hidden;
    font-family: 'Gilroy';
}
